<h1>Venues - Explore</h1>

<p>Let's get a list of recommended venues near the specified location</p>

<h3>Radius</h3>

<pre class="prettyprint">
<code class="prettyprint">

</code>
</pre>

<h3>Section</h3>



<h3>Query</h3>

<h3>Response from Foursquare:</h3>
<pre class="prettyprint">
<code class="prettyprint">

</code>
</pre>