<div class="page-header">
  <h1>Venues<small>Subtext for header</small></h1>
</div>
</div>
<p>Within the core API</p>

<div class="panel panel-default">
  <div class="panel-body">
    Add
  </div>
</div>
{{!-- Categories --}}
<div class="panel panel-default">
  <div class="panel-body">
    Categories
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    Explore
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    Search
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    Suggestcompletion
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-body">
    Trending
  </div>
</div>


