
			{{#if results}}
			<h1>Response from Foursquare :</h1>
			<pre class="prettyprint">
				<code class="prettyprint">
					{{results}}
				</code>
			</pre>

			<ul>
	{{#each dataList}}
	<li>{{this.name}}: {{this.value}}
	{{/each}}
	</ul>
			{{/if}}