<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>My Practice Page</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link rel="stylesheet" href="css/lavish-bootstrap.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<!-- Add navigation -->
	<nav id="myNavbar" class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Name</a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="/" >Home</a></li>
					<li><a href="/setup" >Setup</a></li>
					<li><a href="/background">Background</a></li>
					<li><a href="/venues-explore">Explore Venues</a></li>
					<li><a href="/venues-search">Search Venues</a></li>
					<li><a href="/venues-search">Search Venues</a></li>
					<li class="dropdown">
					<a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">User <b class="caret"></b></a>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="/user-badges">Badges</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="/user-friends">Friends</a></li>
                        </ul>
                        </li>
                        <li class="dropdown">
                      <a href="/venues" id="drop2" role="button" class="dropdown-toggle" data-toggle="dropdown">Venues <b class="caret"></b></a>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="drop2">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="venues-explore">Explore</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="venues-search">Search</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="venues-trending">Trending</a></li>                  
                      </ul>
                    </li>
					<li><a href="/checkins" >Checkins</a></li>
					<li><a href="/tips" >Tips</a></li>
				</ul>
			</div>
		</div>
	</nav>
			{{{body}}}
	
	<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
 <footer class="footer">
      <div class="container">
        <p class="text-muted">How To Guide: Foursquare API</p>
      </div>
    </footer>
</html>