<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>Workouts Page</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--boot strap sheet-->
	<link rel="stylesheet" href="/public/css/lavish-bootstrap.css">
    <!--Style sheet-->
	<link rel="stylesheet" href="/public/css/style.css">
   
</head>
<body>
	<!-- Add navigation -->
	
			{{{body}}}
	
	
</body>

</html>