<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>Workouts Page</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--boot strap sheet-->
	<link rel="stylesheet" href="css/lavish-bootstrap.css">
    <!--Style sheet-->
	<link rel="stylesheet" href="css/style.css">
    <!--Server side script-->
    <script type = "text/javascript" src ="/databaseCalls.js"></script>
</head>
<body>
	<!-- Add navigation -->
	
			{{{body}}}
	
	
</body>

</html>