<div class="page-header">
  <h1>Venues - Search <small>Subtext for header</small></h1>
</div>
</div>



<p>Let's get a list of recommended venues near a specified location</p>

<h3>Radius</h3>

<pre class="prettyprint">
<code class="prettyprint">

</code>
</pre>

<h3>Section</h3>

<p>I would display my venue history, but since I've checked in at over 1100 venues and checked in over 1300 times, I'll just list some of the highlights: </p>



<p>Making this call will return an array of venues</p>

<h3>Javascript to make this call:</h3>



<h3>Response from Foursquare:</h3>
<pre class="prettyprint">
<code class="prettyprint">
{
            "id":"525eeb3811d2c49bf03e23ec",
            "name":"Toby's Estate Coffee",
            "contact":{ },
            "location":{ },
            "categories":[ ],
            "verified":true,
            "stats":{ },
            "url":"http:\/\/www.tobysestate.com",
            "allowMenuUrlEdit":true,
            "specials":{ },
            "storeId":"",
            "hereNow":{ },
            "referralId":"v-1457052088",
            "venueChains":[ ]
         },
         {
            "id":"4aa52d50f964a520834720e3",
            "name":"Stumptown Coffee Roasters",
            "contact":{ },
            "location":{ },
            "categories":[ ],
            "verified":true,
            "stats":{ },
            "url":"http:\/\/stumptowncoffee.com",
            "allowMenuUrlEdit":true,
            "specials":{ },
            "venuePage":{ },
            "hereNow":{ },
            "referralId":"v-1457052088",
            "venueChains":[ ]
         },
</code>
</pre>